
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Perview</th>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
    <% @email_names.each do |name| %>


    <tr>
      <td><%= name.capitalize %></td>

      <% if File.exist?("#{Rails.root}/app/emails/#{name}/#{name}.html.erb") || File.exist?("#{Rails.root}/app/emails/#{name}/#{name}.html") %>
        <td><a href="/mail_preview/email/<%= name %>/?html=true">Html</a>
      <% else %>
        <td><span class="missing">Html</span>
      <% end %>
      
      <% if File.exist?("#{Rails.root}/app/emails/#{name}/#{name}.txt.erb") || File.exist?("#{Rails.root}/app/emails/#{name}/#{name}.txt") %>
        | <a href="/mail_preview/email/<%= name %>/?text=true">Text</a></td>
      <% else %>
        | <span class="missing">Text</span> </td>
      <% end %>

      <td><a href="/mail_preview/email/<%= name %>/?email=true"><%= "#{name}_preview.eml" %></a></td>
    </tr>

    <% end %>
  </tbody>
</table>


