<!DOCTYPE html>
<html>
<head>
  <title>MailbuilderPreview</title>
  <%= stylesheet_link_tag    "mailbuilder-preview/application", :media => "all" %>
  <%= javascript_include_tag "mailbuilder-preview/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container-narrow">

        <div class="masthead">
          <ul class="nav nav-pills pull-right">
            <li class="<%= request.path.match(/^\/mail_preview\/(|email)$/) ? "active" : "bla" %>"><a href="/mail_preview/email/">Emails</a></li>
            <li><a href="http://github.com/bjornblomqvist/mailbuilder-preview/">Github</a></li>
            <li><a href="mailto:darwin@bits2life.com?subject=MailBuilder-preview">Contact me</a></li>
          </ul>
          <h3 class="muted">Mailbuilder Preview</h3>
        </div>

        <hr>

        <div class="marketing">
          
          <%= yield %>
          
        </div>

        <hr>

        <div class="footer">
          <p>&copy; Björn Blomqvist 2013</p>
        </div>

      </div> <!-- /container -->

</body>
</html>
